* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
}

.container {
  padding: 20px;
}

.item {
  margin: 0.15rem;
  position: relative;
}

.item img {
  width: auto;
  height: auto;
  max-width: 200px;
}

button {
  padding: 0.25rem;
  margin: 0.15rem;
}


.loading {
  font-size: 3rem;
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls {
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.filters {
  padding: 1rem;
  display: flex;
  align-items: center;
}

.filters span {
  margin-right: 1rem;
}

.filters select {
  padding: 0.5rem;
}






.-hidden {
  display: none;
}
