@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  margin: 15px;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #333;
}

table td {
  width: 200px;
  font-size: 12px;
}

h1 {
  font-size: 1.5em;
  text-transform: uppercase;
  font-family: 'Roboto Mono', monospace;
}

.mono {
  font-family: 'Roboto Mono', monospace;
}

.row {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.column {
  flex: 50%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.column-left {
  max-width: 170px;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  margin: 20px;
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
}

.column-left:hover {
  background-color: #333;
}

.column-left:hover a {
  color: white;
  text-decoration: none;
}
