@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

#site-header {
}

.description-header {
  padding: 24px;
  background-color: #414e62;
  color: white;
  display: flex;
}

.description-header div {
  padding-left: 24px;
}

.filterzone {
  padding: 24px;
}

h1 {
  font-size: 1.5em;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: 1.2em;
  margin-top: 5px;
  margin-bottom: 1px;
  font-family: "Roboto", sans-serif;
}

h4 {
  margin-top: 5px;
  margin-bottom: 1px;
  font-family: "Roboto", sans-serif;
}

.item {
  width: 200px;
  max-width: 200px;
  margin: 6px;
}

.item img {
  max-width: 100%;
  height: auto;
  transition: all ease-in 0.2s;
}

.item img:hover {
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: 3px 4px 4px #ccc;
}

.item img[data-ll-status="error"] {
  background-color: #f0f0f0;
  border: 1px solid #333;
  width: 200px;
  height: 250px;
  text-align: center;
}

button {
  padding: 0.25rem;
  margin: 0.15rem;
}

.-hidden {
  display: none;
}

.row {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

img:not([src]):not([srcset]) {
  visibility: hidden;
}

#container-carteles {
  display: flex;
  flex-wrap: wrap;
  padding: 12px 24px;
}

#palabras input {
  padding: 12px;
  margin: 12px 0;
  font-size: 24px;
}

.wrapper-carteles {
  min-height: 100vh;
}

select {
  padding: 12px 12px 12px 0;
  margin: 12px 0;
}

.filterzone {
  display: flex;
  flex-wrap: wrap;
}

.filterzone div {
  padding: 12px 12px 12px 0;
}

#resultados-titulo {
  padding-left: 24px;
}

#loading {
  display: none;
}
